# core
docker/laravel/core/node_modules
docker/laravel/core/public/hot
docker/laravel/core/public/storage
docker/laravel/core/storage/*.key
docker/laravel/core/vendor
docker/laravel/core/.env
docker/laravel/core/.env.backup
docker/laravel/core/.phpunit.result.cache
docker/laravel/core/Homestead.json
docker/laravel/core/Homestead.yaml
docker/laravel/core/npm-debug.log
docker/laravel/core/yarn-error.log
docker/laravel/core/.idea/*

# wallet
docker/laravel/wallet/node_modules
docker/laravel/wallet/public/hot
docker/laravel/wallet/public/storage
docker/laravel/wallet/storage/*.key
docker/laravel/wallet/vendor
docker/laravel/wallet/.env
docker/laravel/wallet/.env.backup
docker/laravel/wallet/.phpunit.result.cache
docker/laravel/wallet/Homestead.json
docker/laravel/wallet/Homestead.yaml
docker/laravel/wallet/npm-debug.log
docker/laravel/wallet/yarn-error.log
docker/laravel/wallet/.idea/*

# transaction
docker/laravel/transaction/node_modules
docker/laravel/transaction/public/hot
docker/laravel/transaction/public/storage
docker/laravel/transaction/storage/*.key
docker/laravel/transaction/vendor
docker/laravel/transaction/.env
docker/laravel/transaction/.env.backup
docker/laravel/transaction/.phpunit.result.cache
docker/laravel/transaction/Homestead.json
docker/laravel/transaction/Homestead.yaml
docker/laravel/transaction/npm-debug.log
docker/laravel/transaction/yarn-error.log
docker/laravel/transaction/.idea/*

# mysql
docker/mysql/core/data
docker/mysql/wallet/data
docker/mysql/transaction/data
