/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
./.idea/*
composer.lock
docker/nginx/logs
tests/_support
tests/_output
tests/_data
docker/environment.env
