<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="./bootstrap/TestingApp.php" colors="true">
    <testsuites>
        <testsuite name="Application Unit Test Suite">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Application Acceptance Test Suite">
            <directory suffix="Test.php">./tests/Acceptance</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./app/Exceptions</directory>
                <file>./app/Console/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>

        <env name="DB_DATABASE" value="picpay-testing"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="secret"/>
        <env name="DB_HOST" value="database"/>

        <env name="JWT_SECRET" value="cOv7RACIymadRTfMqu1ORmVdnVvKemQWCDgoD7eTrLp5dzbbI50wTy8u6AWQrkUb"/>
    </php>
    <logging>
        <log type="coverage-clover" target="tests/_reports/logs/clover.xml"/>
        <log type="coverage-html" target="tests/_reports/coverage" lowUpperBound="35" highLowerBound="70" />
        <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/>
    </logging>
</phpunit>
